<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gambeat.mimo.paystack.paystack" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".activity.PaystackActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.PayantActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.WalletAfricaActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>
